<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Lista de Bebidas</title>

        <link href="/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

    </head>
    <body>

        <div class="container">
            <div class="card">
                <h1 class="card-header">Lista de Bebidas</h1>

                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-primary" th:href="@{/convidados/listar}">Listar Convidados</a>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Qtde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bebida : ${listaBebidas}">
                            <td class="text-center" th:text="${bebida.tipo}"></td>
                            <td class="text-center" th:text="${bebida.nome}"></td>
                            <td class="text-center" th:text="${bebida.listaConvidado.size()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>
</html>